<config>
    <config key="services">
        <config key="login">
            <config key="port" type="Integer" value="5555" />
            <config key="required_version" type="Integer" value="1464" />
            <config key="current_version" type="Integer" value="1464" />

            <config key="nio">
                <config key="initial_capacity" type="Integer" value="1024" />
            </config>
        </config>
    </config>

    <config key="database">
        <config key="driver" type="String" value="com.mysql.jdbc.Driver" />
        <config key="url" type="String" value="jdbc:mysql://localhost/mambo" />
    </config>
</config>